In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table = pd.read_html('https://physics.nist.gov/cgi-bin/Compositions/stand_alone.pl')[0]

In [ ]:
table = table[~pd.isna(table['Isotopic Composition'])]
table['Isotope'] = table['Isotope'].astype(int)
table

,Isotope,Isotope.1,Isotope.2,Unnamed: 3,RelativeAtomic Mass,Unnamed: 5,Isotopic Composition,StandardAtomic Weight,Notes,Unnamed: 9,Unnamed: 10
3,1,H,1.0,NaN,1.007 825 032 23(9),NaN,0.999 885(70),"[1.007 84, 1.008 11]",m,NaN,NaN
4,1,D,2.0,NaN,2.014 101 778 12(12),NaN,0.000 115(70),NaN,NaN,NaN,NaN
7,2,He,3.0,NaN,3.016 029 3201(25),NaN,0.000 001 34(3),4.002 602(2),"g,r",NaN,NaN
8,2,He,4.0,NaN,4.002 603 254 13(6),NaN,0.999 998 66(3),NaN,NaN,NaN,NaN
10,3,Li,6.0,NaN,6.015 122 8874(16),NaN,0.0759(4),"[6.938, 6.997]",m,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
396,90,Th,232.0,NaN,232.038 0558(21),NaN,1,232.037 7(4),g,NaN,NaN
398,91,Pa,231.0,NaN,231.035 8842(24),NaN,1,231.035 88(2),NaN,NaN,NaN
401,92,U,234.0,NaN,234.040 9523(19),NaN,0.000 054(5),238.028 91(3),"g,m",NaN,NaN
402,92,U,235.0,NaN,235.043 9301(19),NaN,0.007 204(6),NaN,NaN,NaN,NaN
404,92,U,238.0,NaN,238.050 7884(20),NaN,0.992 742(10),NaN,NaN,NaN,NaN

In [ ]:
def remove_parenthesis(s):
    s = s[:s.find('(')]
    s = s.replace('\xa0','')
    s = s.replace(' ','')
    if s == '':
        return 1.0
    else:
        return float(s)
yaml_dict = {}
for idx, dfg in table.groupby('Isotope'):
    elem_name = dfg['Isotope.1'].values[0]
    yaml_dict[elem_name] = {}
    yaml_dict[elem_name]['abundance'] = [float(i) for i in dfg['Isotopic Composition'].apply(remove_parenthesis).values]
    yaml_dict[elem_name]['mass'] = [float(i) for i in dfg['RelativeAtomic Mass'].apply(remove_parenthesis).values]
yaml_dict['Zr']

{'abundance': [0.5145, 0.1122, 0.1715, 0.1738, 0.028],
 'mass': [89.9046977, 90.9056396, 91.9050347, 93.9063108, 95.9082714]}

In [ ]:
from alphabase.constants.element import CHEM_INFO_DICT
from alphabase.yaml_utils import load_yaml, save_yaml

for name, val in CHEM_INFO_DICT.items():
    if name not in yaml_dict:
        yaml_dict[name] = val
save_yaml('nist_element.yaml', yaml_dict)
type(yaml_dict['H']['mass'][0])

float